@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto);
.app-name {
  font-family: Ballet;
  font-size: 30px;
  animation: mymove 5s infinite;
}

/* .navLink:hover,
.navLink:focus {
    transition: text-decoration 0.3s ease-in-out;
}

.navLink::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navLink:hover::after {
    transform: scaleX(1);
} */

/* Login Form */

/* .container {
  background: linear-gradient(90deg, white, #f0f1f2);
  width: 100%;
} */

.card {
  border: none;
}

.forget-link {
  color: rgba(2, 143, 2, 0.808);
  text-decoration: none;
  text-align: right;
  margin-right: auto;
  font-weight: 700;
}

.forget {
  text-align: right;
  padding: 10px;
}

.create {
  text-align: center;
  padding-top: 20px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 100vh; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-row-rev {
  flex-direction: row-reverse;
}

.image-container {
  /* flex: 1; */
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.profile-img-container img{
  max-width: 75px;
  height: auto;
  padding: 5px;
  margin-right: 10px;
}
.profile-img-container{
  display: flex;
  flex-direction: row;
  width:max-content;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
}

.login-form {
  flex: 1;
  padding: 20px;
  /* background-color: #f0f0f0; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  height: 100%;
  width: 100%;
}

.login-form h1 {
  text-align: center;
  animation: mymove 5s infinite;
}

.login-form .para {
  font-family: Roboto, sans-serif;
  margin: 0px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: rgb(69, 74, 94);
  text-align: center;
  padding: 20px;
  animation: mymove 5s infinite;
}

.form-group {
  margin-bottom: 20px;
}

.login-form label {
  font-size: small;
  color: grey;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 14px;
  background-color: rgb(0, 126, 115);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-chart {
  display: flex;
  width: 390px;
  height: 350px;
  justify-content: center;
  align-items: center;
  border:solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 15px;
}

.profile-card{
  height:100%; 
  padding:10px;
  margin: 10px; 
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content:center; 
  align-items:center;
  border: solid;
  border-width: 1px;
}

.profile-name{
  font-weight: bold;
  font-size: x-large;
}

.profile-qual{
  font-weight: lighter;
  font-size: large;
}

/* Test Page  */
.test-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 80vh;
  padding: 10px;
}
.test-page-splash{
  font-weight: 500;
  font-size: 25px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.question-section {
  display: flex;
  flex-direction: column;
  width: 80%; /* Adjust according to your preference */
  max-width: 800px; /* Maximum width */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.question-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.options-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-item {
  margin-bottom: 10px;
}

.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-radio {
  margin-right: 10px;
}

.text-input {
  width: 100%; /* Takes up full width */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navigation-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  
}

.nav-button,
.submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover,
.submit-button:hover {
  background-color: #45a049;
}

/* Take test buttons */
/* Styles for the question section */
.question-section {
  padding: 20px;
  border-radius: 10px;
}

/* Styles for the question text */
.question-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Hover effect for option buttons */
.option-button:hover {
  background-color: #0056b3; /* Light gray background on hover */
}

/* Navigation button hover effect */
.nav-button:hover,
.submit-button:hover {
  background-color: #0056b3; /* Dark blue background on hover */
  color: white;
}


body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}


/* .login-form button:hover {
    background-color: #0056b3;
} */

@keyframes mymove {
  50% {
    text-shadow: 10px 20px 30px skyblue;
  }
}

@media screen and (max-width: 600px) {
  .login-container {
    display: block;
  }
}
